<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>name</key>
			<string>Kettensäge</string>
			<key>happiness</key>
			<integer>40</integer>
			<key>health</key>
			<integer>-10</integer>
			<key>value</key>
			<integer>100</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Matsch</string>
			<key>happiness</key>
			<integer>-5</integer>
			<key>health</key>
			<integer>0</integer>
			<key>value</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>iPhone</string>
			<key>happiness</key>
			<integer>100</integer>
			<key>health</key>
			<integer>0</integer>
			<key>value</key>
			<integer>300</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Apfel</string>
			<key>happiness</key>
			<integer>0</integer>
			<key>health</key>
			<integer>40</integer>
			<key>value</key>
			<integer>100</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Schnitzel</string>
			<key>happiness</key>
			<integer>3</integer>
			<key>health</key>
			<integer>3</integer>
			<key>value</key>
			<integer>40</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Torte</string>
			<key>happiness</key>
			<integer>20</integer>
			<key>health</key>
			<integer>10</integer>
			<key>value</key>
			<integer>50</integer>
		</dict>
	</array>
</dict>
</plist>
